header {
    overflow: hidden;
    text-align: center;
    color: white;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 400;
    padding-top: 40px;
}

#description {
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
}

body:before {
    background-color: rgba(27, 27, 50, 0.6);
    opacity: 0.5;
    box-sizing: border-box;
}

.container {
    background-size: cover;
    background-image: linear-gradient(120deg, rgba(55, 55, 150, 0.8), rgba(130, 130, 208, 0.89)),
    url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

form {
    max-width: 750px;
    margin: auto;
    background-color: rgba(25, 25, 60, 0.7);
    border-radius: 5px;
    padding-top: 50px;
}

.row {
    color: #ffffff;
    padding-left: 50px;
}

.intr_text {
    font-size: 20px;
    padding-bottom: 10px;
}

.entr-inf {
    padding-bottom: 20px;
}

.form_input, #dropdown, #dropdown_2 {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 90%;
    height: 35px;
    border-radius: 5px;
}

.form_input:focus, #dropdown:focus, #dropdown_2:focus {
    border-color: aqua;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 75, 255, 0.77);
}

#dropdown, #dropdown_2 {
    width: 91%;
}

.radio-inf {
    display: flex;
    width: 110px;
    padding-left: 50px;
}

.radio-text {
    padding-top: 8px;
    color: #ffffff;
    font-size: 20px;
    padding-left: 5px;
}

input::placeholder, #dropdown, #dropdown_2 {
    font-size: 16px;
    padding-left: 10px;
    color: #495057;
}

.radio_menu {
    padding-left: 40px;
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 20px;
}

.checkbox, .radio {
    width: 15px;
    height: 15px;
}

.checkbox_menu {
    display: grid;
    color: #ffffff;
    font-size: 20px;
}

label {
    padding-bottom: 10px;
}

textarea {
    box-sizing: border-box;
    font-size: 16px;
    width: 90%;
    height: 100px;
    padding-bottom: 50px;
}
textarea::placeholder {
    padding: 5px;
    font-size: 16px;
}
.input_textarea {
    padding: 10px;
}
.btn {
    width: 90%;
    background-color: chartreuse;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}
button {
   margin: 50px auto;
}



















